{% extends "allianceauth/base.html" %}
{% load i18n %}

{% block page_title %}{% translate "Available Groups" %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <h1 class="page-header text-center">{% translate "Available Groups" %}</h1>
    <div class="col-sm-12">
        {% if groups %}
            <div class="row vertical-flexbox-row2">
                <div class="col-sm-12">
                    <div class="panel panel-primary" style="height:100%">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                            Your Groups
                            </h3>
                        </div>
                        <div class="panel-body">

                            <table class="table table-aa">
                                <thead>
                                    <tr>
                                        <th>{% translate "Name" %}</th>
                                        <th>{% translate "Description" %}</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for g in groups %}
                                    {% if g.group in user.groups.all %}
                                        <tr>
                                            <td>{{ g.group.name }}</td>
                                            <td>{{ g.group.authgroup.description|linebreaks|urlize }}</td>
                                            <td class="text-right">
                                                {% if not g.request %}
                                                    <a href="{% url 'groupmanagement:request_leave' g.group.id %}" class="btn btn-danger">
                                                        {% translate "Leave" %}
                                                    </a>
                                                {% else %}
                                                    <button type="button" class="btn btn-primary" disabled>
                                                        {% translate "Pending" %}
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vertical-flexbox-row2">
                <div class="col-sm-6">
                    <div class="panel panel-primary" style="height:100%">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                            Open Groups
                            </h3>
                        </div>
                        <div class="panel-body">

                            <table class="table table-aa">
                                <thead>
                                    <tr>
                                        <th>{% translate "Name" %}</th>
                                        <th>{% translate "Description" %}</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for g in groups %}
                                    {% if g.group not in user.groups.all and g.group.authgroup.open%}
                                        <tr>
                                            <td>{{ g.group.name }}</td>
                                            <td>{{ g.group.authgroup.description|linebreaks|urlize }}</td>
                                            <td class="text-right">
                                                <a href="{% url 'groupmanagement:request_add' g.group.id %}" class="btn btn-success">
                                                    {% translate "Join" %}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-primary" style="height:100%">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                            Requestable Groups
                            </h3>
                        </div>
                        <div class="panel-body">

                            <table class="table table-aa">
                                <thead>
                                    <tr>
                                        <th>{% translate "Name" %}</th>
                                        <th>{% translate "Description" %}</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for g in groups %}
                                    {% if g.group not in user.groups.all and not g.group.authgroup.open%}
                                        <tr>
                                            <td>{{ g.group.name }}</td>
                                            <td>{{ g.group.authgroup.description|linebreaks|urlize }}</td>
                                            <td class="text-right">
                                                {% if not g.request %}
                                                        <a href="{% url 'groupmanagement:request_add' g.group.id %}" class="btn btn-primary">
                                                            {% translate "Request" %}
                                                        </a>
                                                {% elif g.request %}
                                                    <button type="button" class="btn btn-primary" disabled>
                                                        {% translate "Pending" %}
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning text-center">
                {% translate "No groups available." %}
            </div>
        {% endif %}
    </div>


{% endblock content %}
