# Docs Specific Packages
sphinx>=4.4.0,<5.0.0
sphinx_rtd_theme>=1.0.0,<2.0.0
recommonmark==0.7.1

# Autodoc dependencies
django>=4.0.2,<5.0.0
django-celery-beat>=2.0.0
django-bootstrap-form
django-sortedm2m
django-esi>=4.0.0a1,<5
django-redis>=5.2.0<6.0.0
celery>=5.2.0,<6.0.0
celery_once>=3.0.1
passlib
redis>=4.0.0,<5.0.0
