# Docs Specific Packages
sphinx>=3.2.1,<4.0.0
sphinx_rtd_theme==0.5.0
recommonmark==0.6.0
Jinja2<3.1
sphinxcontrib-django2

# Autodoc dependencies
django>=3.2,<4.0.0
django-celery-beat>=2.0.0
django-redis-cache
django-bootstrap-form
django-sortedm2m
django-esi>=3,<5
celery>5,<6
celery_once
passlib
redis>=3.3.1,<4.0.0
